.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* Space for the icon button */
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  cursor: pointer;
}

.password-toggle-icon {
  color: #000;
}
